<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <!--  CSS Supporting FIles  -->
        <link href="../static/files/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/files/css/lightslider.css">
        <link rel="stylesheet" href="../static/files/css/style.css">
        <!--  JS  Supporting FIles    -->
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <script src="../static/files/js/jquery.js"></script>
        <script src="../static/files/js/lightslider.js"></script>
        <script src="../static/files/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        {% include 'navbar.html' %}
        <br>
        {% include 'carousel.html' %}

    
        <br><br>
        <h2>Phones Products</h2>
        <section class="slider p-4">
	    <ul  class="cs-hidden autoWidth">
        {% for item in smartphones %}
          <li>
            <div class="box">
                <div class="slide-img">
                <img src="../static/images/{{ item[5]}}"  width="50" height="50">
                <div class="overlay">
                    <a href="/single_item/{{ item[0]}}" class="buy-btn">Buy Now</a>
                </div>
                </div>
                <div class="detail-box">
                    {{item[1]}}<br>
                    <b class="text-warning">KES {{item[3]}}</b>
                </div>
                </div>
            </li>
           {% endfor %}
          </ul>
        </section>
         <br><br>
        <h2>Detergents</h2>
        <section class="slider p-4">
	    <ul  class="cs-hidden autoWidth">
        {% for item in detergents %}
          <li>
            <div class="box">
                <div class="slide-img">
                <img src="../static/images/{{ item[5]}}"  width="50" height="50">
                <div class="overlay">
                    <a href="/single_item/{{ item[0]}}" class="buy-btn">Buy Now</a>
                </div>
                </div>
                <div class="detail-box">
                    {{item[1]}}<br>
                    <b class="text-warning">KES {{item[3]}}</b>
                </div>
                </div>
            </li>
           {% endfor %}
          </ul>
        </section>
    

          <section class="row bg-warning p-5">
        <div class="col-md-4">
            <h3 class="text-white">About Us</h3>
            <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, quasi.</p>
            <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quibusdam                           cumque ullam aliquid ratione assumenda tempore ducimus recusandae cupiditate? Cupiditate saepe                      ratione vitae neque soluta repudiandae veniam quam accusantium impedit!</p>
        </div>

         <div class="col-md-4">
            <h3 class="text-white">Contact Us</h3>
            <form action="">
                  <input type="email" placeholder="Enter Email" class="form-control"> <br>
                  <textarea name="" id="" cols="5" rows="5" class="form-control" placeholder="Leave a Comment">                      </textarea>
                  <br>
                  <button class="btn btn-danger">Send Message</button>
            </form>
        </div>

         <div class="col-md-4">
            <h3 class="text-white">Stay Connected</h3>
             <br>
            <a href="">
                <img src="images/fb.png" alt=""> 
            </a> 
             <a href="">
                <img src="images/in.png" alt=""> 
            </a> 

             <a href="">
                <img src="images/x.png" alt=""> 
            </a> 
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque tenetur quam unde                             officiis nesciunt   repellat dicta laudantium assumenda aspernatur hic consequatur labore, ducimus                        enim libero harum facere nihil 
                  expedita!</p>
        </div>
    </section>
    <footer class="bg-dark text-center p-2">
            <b class="text-white">Developed by X.  &copy; 2024. All Rights Reserved</b>. 
    </footer>


</body>
</html>