<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  <link href="../static/files/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
</head>
<body>
     <div class="container">
         {% include 'navbar.html' %}
         <section class="row">
             <div class="col-md-4">
                  <h3>Create Account</h3>
                  <span style="color:green;">{{success}}</span>
                  <span style="color:red;">{{error}}</span>
                  <form action="/signup" method="post">
                      <input type="text" name="username" placeholder="Your Username"
                      class="form-control"> <br>

                      <input type="email" name="email" placeholder="Your Email"
                      class="form-control"> <br>

                      <input type="tel" name="phone" placeholder="Your Phone"
                      class="form-control"> <br>

                      <input type="password" name="password1" placeholder="Your Password"
                      class="form-control"> <br>

                      <input type="password" name="password2" placeholder="Confirm Password"
                      class="form-control"> <br><br>

                      <input type="submit" value="Sign Up" class="btn btn-info">
                  </form>
                 <br>
                 <a href="/signin"> Already Have an Account?, Login </a>
             </div>
         </section>
     </div>
</body>
</html>