<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link href="../static/files/css/bootstrap.min.css" rel="stylesheet">
      <script src="../static/files/js/bootstrap.bundle.min.js"></script>
</head>
<body>
     <div class="container">
         {% include 'navbar.html' %}
         <section class="row">
             <div class="col-md-4">
                  <h3>Login Account</h3>
                  <span style="color:green;">{{success}}</span>
                  <span style="color:red;">{{error}}</span>
                  <form action="/signin" method="post">
                      <input type="text" name="username" placeholder="Your Username"
                      class="form-control"> <br>

                      <input type="password" name="password" placeholder="Your Password"
                      class="form-control"> <br>

                      <input type="submit" value="Sign In" class="btn btn-info">
                  </form>
                 <br>
                 <a href="/signup"> Don't Have an Account?, Create One </a>
             </div>
         </section>
     </div>
</body>
</html>